#body_content {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.nav-pills li {
	font-size: 16px;
}

.panel {
	box-shadow: none;
}

hr {
	border-color: rgb(200, 200, 200);
	border-width: 2px 0px 0px;
}

.panel-default > .panel-heading {
	background-color: rgb(200, 220, 200);
}

/* I'd love to put a rounded edge on it too, but I can't figure it out */
.table_wrapper {
    border: 1px solid rgb(221, 221, 221);
	margin-bottom: 20px;
}