﻿{% load staticfiles %}
{% load mgr_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mint Genomics Resource</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,greek' rel='stylesheet' type='text/css'>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
        <script type="text/javascript" src="{% static "jquery-2.0.3.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <link href="{% static "base.css" %}" rel="stylesheet" media="screen">
        <style>
            body { background: url("{% static "media/white_wall_hash.png" %}") repeat scroll 0% 0% transparent; }
        </style>
        {% include "mgr_main/analytics.html" %}
    </head>
    <body>
    <div id="body_content" class="container">
        <div id="header">
            <div class="row">
                <div class="col-md-6">
                    <h1>DATABASE NAME</h1>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <ul class="nav nav-pills nav-justified" id="mgr_main_main_menu_bar">
                <li class= "{% if "Home" in page %} active {% endif %}"><a href="{% url "mgr_main.views.home_page"%}">Home</a></li>
                <li class="dropdown {% if "Species" in page %} active {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Species<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% for species in species_list %}
                        <li class="{% if "Species" in page and species.page_name in page %}active{% endif %}"> <a href="{% url "mgr_main.views.species" species.page_name%}" >{{ species|render_species_name|capfirst }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li class="dropdown {% if "Tools" in page %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Tools <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="{% if "Tools" in page and "Blast" in page %} active {% endif %} "><a href="{% url "mgr_main.views.blast"%}" >Blast</a></li>
                        <li class="{% if "Tools" in page and "Expression" in page %} active {% endif %}"><a href="{% url "mgr_main.views.expression"%}" >Expression</a></li>
                        <li class="{% if "Tools" in page and "Pathways" in page %} active {% endif %}"><a href="{% url "mgr_main.views.pathways"%}" >Pathways</a></li>
                    </ul>
                </li>
                

              
              <li class="{% if "Downloads" in page %} active {% endif %}"><a href="{% url "mgr_main.views.downloads"%}" >Downloads</a></li>
              <li class="{% if "Contact" in page %} active {% endif %}"><a href="{% url "mgr_main.views.contact"%}" >Contact</a></li>
            </ul>


        </div>
        

        <div id="main_div">
            <h2>{% block main_area_heading %}{% endblock %}</h2>
            {% block main_area %}
            {% endblock %}
        </div>
        
        <div id="footer">
            <div class="row">
                <div class="col-md-12">
                <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- FOOTER LOGO -->
                </div>
                <div class="col-md-3">
                    Copyright © {{ year }}
                </div>
                <div class="col-md-6">
                    <!-- FOOTER TEXT -->
                </div>
            </div>
        </div>
    </div>
    </body>
</html>