{% extends 'mgr_main/base.html' %}

{% block main_area %}
<h2>Under Construction</h2>

<!--
<div class="col-md-12 mgr_main_main_panel" id="mgr_main_blast">
    <ul class="nav nav-tabs">
      <li {% if prog == "blastn" %} class="active" {% endif %}><a href="{% url "mgr_main.views.blast" %}?prog=blastn">blastn</a></li>
      <li {% if prog == "blastp" %} class="active" {% endif %}><a href="{% url "mgr_main.views.blast" %}?prog=blastp">blastp</a></li>
      <li {% if prog == "blastx" %} class="active" {% endif %}><a href="{% url "mgr_main.views.blast" %}?prog=blastx">blastx</a></li>
      <li {% if prog == "tblastn" %} class="active" {% endif %}><a href="{% url "mgr_main.views.blast" %}?prog=tblastn">tblastn</a></li>
      <li {% if prog == "tblastx" %} class="active" {% endif %}><a href="{% url "mgr_main.views.blast" %}?prog=tblastx">tblastx</a></li>
    </ul>

    <form action="/blast" method="post"> {% csrf_token %}
            {{ form.as_p }}
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
-->



{% endblock %}