{% extends 'mgr_main/base.html' %}

{% block main_area %}
<div class="row">
    <div class="col-md-9 mgr_main_main_panel" id="mgr_main_contact">
        <p>
            Project lead: <a href="mailto:"> PROJECT_LEAD </a>
        </p>
        <p>
            Webmaster: <a href="mailto:"> WEB_MASTER </a>
        </p>
    </div>
</div>


{% endblock %}