{% extends 'mgr_main/base.html' %}
{% load mgr_tags %}

{% block main_area %}
<div class="row">
    <div class="col-md-12 mgr_main_main_panel" id="mgr_main_downloads">
    {% for heading in headings %}
        <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ heading }}</h4></div>
        <table class="table">
        <thead>
            <tr>
                <th>File</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
        {% for download in downloads %}
            {% if download.heading == heading %}
                <tr>
                    <td><a href="{{ download.target|render_template }}"> {{download.name}} </a></td>
                    <td>{{download.description}}</td>
                    <td>{{download.owner}}</td>
                    <td>
                    {% if download.reference_target and download.reference_target.strip %}
                        <a href="{{ download.reference_target|render_template }}"> {{download.reference}} </a>
                    {% else %}
                        {{download.reference}}
                    {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}