{% extends 'mgr_main/base.html' %}

{% block main_area %}
<div class="row">
    <div class="col-md-9 mgr_main_main_panel" id="mgr_main_expression">
    <h2>Under Construction</h2>
    </div>
</div>


{% endblock %}