{% extends 'mgr_main/base.html' %}

{% block main_area %}
<div class="row">
    <div class="col-md-8 mgr_main_main_panel" id="mgr_main_home_description">
        {% for description_item in description_list %}
        <p>
            {{ description_item.content }}
        </p>
        {% endfor %}
    </div>
    
    <div class="col-md-4" id="mgr_main_home_news">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">News</h3>
            </div>
            <table class="table table-condensed">
                <tbody>
                        
                {% for news_item in news_list %}
                    <tr>
                        <td>{{ news_item.date|date:"N j, Y"}} </td>
                        <td>{{ news_item.content }} </td>
                    </tr>
                {% endfor %}
                </ul>
            </table>
        </div>

    </div>

    
</div>


{% endblock %}

