{% extends 'mgr_main/base.html' %}

{% block main_area_heading %} Pathways {% endblock %}

{% block main_area %}
<div class="row">
    <div class="col-md-9 mgr_main_main_panel" id="mgr_main_pathways">
        {% for heading in headings %}
            <h3> {{ heading }} </h3>
            {% for pathway in pathways %}
                {% if pathway.category == heading %}
                    <p><big><a href="{% url "mgr_main.views.pathways" pathway.page_name %}">{{pathway.pathway_name}}</a></big></p>
                {% endif %}
            {% endfor %}
            <br><br>
        {% endfor %}
    </div>
</div>


{% endblock %}