{% extends 'mgr_main/base.html' %}
{% load mgr_tags %}
{% load staticfiles %}
{% block main_area_heading %} {{ pathway.pathway_name }} {% endblock %}
{% block main_area %}
<link href="{% static "pathway.css" %}" rel="stylesheet" media="screen">
<div class="row">
    <div class="col-md-12 mgr_main_main_panel" id="mgr_main_specific_pathway">
        {{ content }}
    </div>
</div>

{% if link_set|length > 0 %}
<div class="row">
    <div class="col-md-6" id="mgr_main_specific_pathway_links">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Links</h3>
                
            </div>
            <ul class="list-group list-group-flush">
            {% for link in link_set %}
                <li class="list-group-item"> <a href="{{ link.target|render_template }}"> {{link.text}} </a> </li>
            {% endfor %}
            </ul>
        </div>

    </div>
</div>
{% endif %}

{% endblock %}