{% extends 'mgr_main/base.html' %}
{% load mgr_tags %}

{% block main_area_heading %} {{ species|render_species_name|capfirst }} {% endblock %}

{% block main_area %}
<div class="row">
    <div class="col-md-9 mgr_main_main_panel" id="mgr_main_species">
        {{ species_content }}
    </div>
    <div class="col-md-3" id="mgr_main_species_links">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Links</h3>
                
            </div>
            <ul class="list-group list-group-flush">
            {% for link in link_set %}
                <li class="list-group-item"> <a href="{{ link.target|render_template }}"> {{link.text}} </a> </li>
            {% endfor %}
            </ul>
        </div>

    </div>
</div>


{% endblock %}